<h1>Pageviews</h1>
<canvas id="myChart" width="400" height="400"></canvas>
<h1>Clicks Per Page</h1>
<canvas id="clickChart" width="400" height="400"></canvas>
<h1>Pageviews Per Page Per Day</h1>
<canvas id="dayChart" width="400" height="400"></canvas>
<form method="GET">
  <p>Date: <input type="text" id="datepicker" name="datetime" size="30"></p>
  <input type= "submit">
</form>
<%= Click.count %>
<%= @pageviews.count %>
<% @pageviews.each do |pageview| %>
  <div>
    <%= pageview.url %>
    <%= pageview.useragent %>
  </div>
<% end %>

<script>
  window.barchartData = <%= raw json_escape(Pageview.barchart.to_json) %>
  window.barchartDataClick = <%= raw json_escape(Click.barchart.to_json) %>
  window.dateData = <%= raw json_escape(Pageview.calendarchart(@date).to_json) %>
  window.specifiedDate = '<%= @date %>';
</script>
